[submodule "kvm"]
	path = kvm
	url = git@gitlab.westerns.tokyo:ShiftCrops/simple-kvm.git
[submodule "kernel"]
	path = kernel
	url = git@gitlab.westerns.tokyo:ShiftCrops/minimum-kernel.git
[submodule "libc"]
	path = bin/libc
	url = git@gitlab.westerns.tokyo:ShiftCrops/tiny-libc.git
